<app-header [title]="title">
</app-header>

<ion-content padding bg-dark>
	<ion-row  *ngIf="response_came">
		<ion-col size="12">
			<ion-list list-rqsts>



				<ion-card class="cont-box" *ngFor="let key of requestslist; let i =index">
					<img src="{{url}}{{key.match_pic}}" class="img-st-new" *ngIf="errors.indexOf(key.match_pic)==-1"/>
					<img src="assets/images/default-avatar.jpg" class="img-st-new" *ngIf="errors.indexOf(key.match_pic)>=0"/>
					<div class="cont-rigts">
					  <ion-card-title>{{key.match_name}}</ion-card-title>
						<ul class="list-date">
							<li> <ion-icon name="calendar"></ion-icon> {{key.date}} </li>
							<li> <ion-icon name="time"></ion-icon> {{key.stime}} </li>
							<p>Please confirm your availability for match</p>
							
						</ul>
						<div btnbottom>
							<ion-button [routerLink]="['/card/'+key.match_id+'/'+key._id+'/'+'3'+'/'+key.owner_id+'/'+1]">
							On The Way
							</ion-button>
							  <ion-button [routerLink]="['/card/'+key.match_id+'/'+key._id+'/'+'3'+'/'+key.owner_id+'/'+0]">
							Running Late
							</ion-button>
							  <ion-button color="danger" (click)="actionOnFieldReq(key.match_id,0,i,key._id)">
						   Cancel
							</ion-button>
						  </div>

						<!-- <p>
							{{key.request.comment}}
						</p> -->
					</div>
	 
				</ion-card>
				<p *ngIf="norequest" class="notfound">No confirmations yet</p>


			</ion-list>
		</ion-col>
	</ion-row>

		<!-- ============skeleton=========== -->

	<div *ngIf="!response_came">
			<div class="ion-padding custom-skeleton">
					<ion-item style="--background: #535353;background: #535353;" *ngFor="let item of skeleton" >
							<ion-avatar slot="start">
							  <ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
							  <h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
							  </h3>
							  <p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
							  </p>
							  <p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							  </p>
							</ion-label>
						  </ion-item>
			</div>		
	</div>


</ion-content>
