ion-header{
	ion-title{
		
	}
	ion-buttons{
		ion-menu-button{
			position:relative;
			color:#fff;
			[alert]{
				position: absolute;
				width: 10px;
				height: 10px;
				background:#ff5722;
				border-radius: 50px; 
				top: 10px;
				right: 10px;
			}
		}
	}
}