
<ion-header>
  <ion-toolbar heading_ttl>
    <ion-title>Match Stats</ion-title>
    <ion-buttons slot="end" close_btn>
      <ion-icon (click)="myDismiss()" ios="ios-close" md="md-close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content bg-dark padding>
   <div class="match_stats">
    <div class="stat_title">
      <h4>Statistics</h4>
    </div>
    <div class="stat_box">
      <div class="prg_box">
        <h5>55</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:55%"></div>
        </div>
      </div>
      <div class="title">
        <h4>Possession%</h4>
      </div>
      <div class="prg_box">
        <h5>45</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:45%"></div>
        </div>
      </div>
    </div>

    <div class="stat_box">
      <div class="prg_box">
        <h5>5</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:100%"></div>
        </div>
      </div>
      <div class="title">
        <h4>Shots on target</h4>
      </div>
      <div class="prg_box">
        <h5>2</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:45%"></div>
        </div>
      </div>
    </div>

    <div class="stat_box">
      <div class="prg_box">
        <h5>633</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:85%"></div>
        </div>
      </div>
      <div class="title">
        <h4>Touches</h4>
      </div>
      <div class="prg_box">
        <h5>740</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:100%"></div>
        </div>
      </div>
    </div>

    <div class="stat_box">
      <div class="prg_box">
        <h5>10</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:90%"></div>
        </div>
      </div>
      <div class="title">
        <h4>Shots</h4>
      </div>
      <div class="prg_box">
        <h5>4</h5>
        <div class="progress">
          <div class="prg_prcnt" style="width:35%"></div>
        </div>
      </div>
    </div>

   </div>
</ion-content>
