ion-header{
	ion-title{
		padding-left:0;
	}
	ion-buttons{
		ion-menu-button{
			position:relative;
			[alert]{
				position: absolute;
				width: 10px;
				height: 10px;
				background:#ff5722;
				border-radius: 50px; 
				top: 10px;
				right: 10px;
			}
			ion-icon{
				color:#fff;
			}
		}
	}
}
ion-content[bg-dark] {
	--background: #535353;
	background: #535353;
	h4.main-ttls {
		padding-right: 10px;
	    color: #fff;
	    font-size: 23px;
	    font-weight: 300;
	    margin-top: 0px;
	    border-left: 3px solid#fd93fb;
	    padding-left: 10px;
	    margin-bottom: 13px;
	}
	 h4.main-ttls.mrgn-cstm {
		margin-bottom: 5px;
		margin-top: 0px;
	}
	[addProperty]{
		[UserDetails]{
			background:none !important; 
			padding:5px 0px 0px;
			ion-button{
				font-size: 12px;
			}
			ion-item{
	            font-size: 14px;
				margin:0 0 10px;
				--background:transparent;
				--border-color: rgba(2255,255,255, .8);
				[icon-left]{
					font-size:30px;
					color:  rgb(0, 175, 255);
					margin-right: 10px;
				}
				ion-label{
				width: 100%;
				max-width: 100%;
				color: #fff;
				letter-spacing: 1.5px;
				opacity:1;	
					span{
						color: #fff;
						font-size: 12px;
						letter-spacing: 1.5px;
						margin:0 0 5px;
						display: block;
					}
				}
				ion-input , ion-textarea 
				{
				font-size: 14px;
				color:#fff;
				}
				ion-searchbar{
					--background: transparent;
					padding: 0;
					margin: 0;
					--color: #fff;
					&:placeholder{
						color:#fff;
					}
				}
				
				ion-button{
					--box-shadow:none;
					position: absolute;
					right: 0;
					top: 0;
					font-size: 11px;
				}
				ion-toggle{
					--box-shadow:none;
					position: absolute;
					right: 0;
					top: 0;
					font-size: 11px;
				}
			}
		}
	}
}
ion-button{
	text-transform: capitalize;
	font-weight:400;
	font-size: 16px;
	height: 40px;
	max-width:90%;
	margin:30px auto 0;
}
[field_clr]{
	color:#fff;
}
.list-md{
	background:transparent;
	ion-avatar
	{
		margin-right:10px;
	}
	
}
[plr_list_box]{
	padding:0;
	ion-item{
		margin:0 !important;
	}
	[hdr]{
		--border-color: #252c46 !important;
		margin-bottom: 0 !important;
		margin-top: -20px !important;
	}
}

.valid{
	color:red;
	font-size: 12px;
	margin-left: 29px;
    margin-top: 15px;
}

.choose{
	
		padding: 11px;
		border-radius: 24px;
		background-color:#fd93fb;
		color:#535353;;
}
.heading{
	text-align: center;
    color: white
}
 
