ion-tabs{
    ion-tab-bar {
        border-color: #fd93fb;
    }
    ion-tab-button {
        font-size:11px;
        background: #535353;
        color: #fff;
        padding: 0 8px 5px 8px;
        ion-label{
            padding-bottom:5px;
        }
        a{
            padding:0;
        }
    }
    ion-tab-button.tab-selected {
        color: #fd93fb;
    }
    
}