<app-header [title]="title">
</app-header>

<ion-content padding bg-dark>
	<ion-row  *ngIf="response_came">
		<ion-col size="12">
			<ion-list list-rqsts>



				<ion-card class="cont-box" *ngFor="let key of requestslist; let i =index">
					<img src="{{team_url}}{{key.cover}}" class="img-st-new" *ngIf="errors.indexOf(key.cover)==-1"/>
					<img src="assets/images/plr1.jpg" class="img-st-new" *ngIf="errors.indexOf(key.cover)>=0"/>
					<div class="cont-rigts" style="margin-right: 52px;">
					
				
						<p>
							You got an invitation to be a member of team  {{key.name}}<br>
							By <span class="name">{{key.player_fname[0].toUpperCase()+key.player_fname.slice(1)}} {{key.player_lname[0].toUpperCase()+key.player_lname.slice(1)}} </span>

						</p>
					</div>
					<div class="btn-acct">
						<a href="javascript:void(0);" class="accrot" (click)="action(key._id, key.team_id, i, 1 )"> <ion-icon name="checkmark"></ion-icon> </a>
						<a href="javascript:void(0);"  class="reject" (click)="action(key._id, key.team_id,i, 0)"> <ion-icon name="close"></ion-icon> </a>
					</div>
				</ion-card>
				<p *ngIf="norequest" class="notfound">No invitations Yet</p>


			</ion-list>
		</ion-col>
	</ion-row>

		<!-- ============skeleton=========== -->

	<div *ngIf="!response_came">
			<div class="ion-padding custom-skeleton">
					<ion-item style="--background:#535353;background: #535353;" *ngFor="let item of skeleton" >
							<ion-avatar slot="start">
							  <ion-skeleton-text animated></ion-skeleton-text>
							</ion-avatar>
							<ion-label>
							  <h3>
								<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
							  </h3>
							  <p>
								<ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
							  </p>
							  <p>
								<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
							  </p>
							</ion-label>
						  </ion-item>
			</div>		
	</div>


</ion-content>
