<app-header [title]="title"></app-header>

<ion-content bg-dark padding>
	<div addProperty>
      <form [formGroup]="addmatch" (ngSubmit)="addmatchnow()">
		<ion-list UserDetails>
	   <ion-item no-padding>
			  <ion-icon icon-left slot="start" name="business"></ion-icon>
	 		  <ion-label position="stacked">Team Name</ion-label>
           <ion-input  formControlName="name"></ion-input>         
        </ion-item>
        <div *ngIf="!addmatch.controls.name.valid && is_submit" class="valid">
            Please enter eam Name
        </div>


        <ion-item no-padding>
          <ion-icon  icon-left slot="start" name="logo-slack"></ion-icon>
           
           
            <div  (click)="presentModal()" class="choose" *ngIf="ids.length==0">Select Players</div>
            <div  (click)="presentModal()" class="choose" *ngIf="ids.length>0">{{ids.length}} Selected</div>
      </ion-item> 


  
        <div *ngIf="ids.length==0 && is_submit" class="valid">
            Please select players
        </div>
  
            
            
            <ion-item no-padding>
                <ion-icon  icon-left slot="start" name="logo-slack"></ion-icon>
                 <ion-label position="stacked">Upload Cover Picture</ion-label>
                    <br>
                     <br>
                  <div  (click)="selectImage()" class="choose">Choose</div>
                  <br>

                <img *ngIf="errors.indexOf(imgpath)==-1" [src]="sanitizer.bypassSecurityTrustResourceUrl(win.Ionic.WebView.convertFileSrc(imgpath))" />	
              
                
                     
                  </ion-item>  
                  <div *ngIf="covererr && is_submit" class="valid">
                      Please choose a cover
                  </div> 

        
    </ion-list>
    <ion-button type="submit" shape="round" expand="full">Create</ion-button>
    </form>
  </div>
</ion-content>
