<app-header [title]="title"></app-header>

<ion-content bg-dark padding>
	<div addProperty>
      <form [formGroup]="addmatch" (ngSubmit)="addmatchnow()">
		<ion-list UserDetails>
	   <ion-item no-padding>
			  <ion-icon icon-left slot="start" name="business"></ion-icon>
	 		  <ion-label position="stacked">Team Name</ion-label>
           <ion-input  formControlName="name"></ion-input>         
        </ion-item>
        <div *ngIf="!addmatch.controls.name.valid && is_submit" class="valid">
            Please enter eam Name
        </div>

    
        <ion-item no-padding>
          <ion-icon icon-left slot="start" name="business"></ion-icon>
          <ion-label position="stacked">Select Players</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Okay!" formControlName="players">

            <ion-select-option value="{{item?._id}}" *ngFor="let item of players">
              
              <img src="assets/images/default-avatar.jpg">
              <img  *ngIf="errors.indexOf(item.pic)==-1" src="{{url+item?.pic}}">
              
              {{item?.fname[0].toUpperCase()+item?.fname.slice(1)}} {{item?.lname[0].toUpperCase()+item?.lname.slice(1)}} 
            
            </ion-select-option>
           
          </ion-select>
        </ion-item>

  
        <div *ngIf="!addmatch.controls.players.valid && is_submit" class="valid">
            Please select players
        </div>
  
            
            
            <ion-item no-padding>
                <ion-icon  icon-left slot="start" name="logo-slack"></ion-icon>
                 <ion-label position="stacked">Upload Cover Picture</ion-label>
                    <br>
                     <br>
                  <div  (click)="selectImage()" class="choose">Choose</div>
                  <br>

                <img *ngIf="errors.indexOf(imgpath)==-1" [src]="sanitizer.bypassSecurityTrustResourceUrl(win.Ionic.WebView.convertFileSrc(imgpath))" />	
              
                
                     
                  </ion-item>  
                  <div *ngIf="covererr && is_submit" class="valid">
                      Please choose a cover
                  </div> 

        
    </ion-list>
    <ion-button type="submit" shape="round" expand="full">Create</ion-button>
    </form>
  </div>
</ion-content>
