ion-content.login-bg {
	--background: #535353;
	background: #535353;
	.logo-top {
		text-align: center;
		padding: 30px 0 10px;
		 img {
			width: 100px;
			margin: 0 auto;
		}
	}
	.ttl_box{
		h4{
			color: #fff;
			text-align: center;
			margin-top: 0px;
			margin-bottom: 20px;
			padding-bottom: 15px;
			font-size: 22px;
			position: relative;
			
			&:after{
				content: "";
				position: absolute;
				width: 50px;
				height: 3px;
				background: #fd93fb;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				border-radius: 100px;
			}
		}
	}
	.logn-form {
		padding: 10px 25px;
	}
	.box-feilds {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		margin-bottom: 5px;
		padding-left: 40px !important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		    display: inline-block;   
    width: 100%;
		
		ion-input  {
			font-family: Montserrat, sans-serif !important;
			font-size: 14px;
			padding-bottom: 5px !important;
			--placeholder-color:#fff;
			--placeholder-opacity:1;
		}
		ion-select {
		    font-family: Montserrat, sans-serif !important;
		    font-size: 14px;
		    --padding-start: 5px;
		    color: #fff;
		    --placeholder-color:#fff;
			--placeholder-opacity:1;
		    width: 100%;
		}
		.icon-log {
			width: 20px;
			font-size: 20px;color:var(--ion-color-primary)!important;
			position: absolute;
			top: 7px;
			left:0;
		}

		ion-select.slect  {
    color: #fff;
    --placeholder-color: #fff;
    font-family: Montserrat, sans-serif !important;
    
    font-size: 14px;
}



	}
	item-native{
    background: #535353;

	}

	ion-item.remembr  {
		--background: transparent;
		background: transparent;
		border: none;
		color: #fff;
		font-size: 12px;
		position: relative;
		left: -20px;
		ion-checkbox  {
			margin-right: 7px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
	a.forgt-txt {
		font-size: 11.54px;
		float: right;
		text-align: right;
		text-decoration: none;
		color: #fd93fb;
		margin-top: 15px;
	}
	.login-btn{
		margin: 0px;
		margin-top: 10px;
		font-family: "Montserrat", sans-serif !important;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 17px;
		height: 54px;
	}
	p.sign-up-txt {
		text-align: center;
		color: #fff;
		/* margin: 0px; */
		font-size: 14.5px;
		font-weight: 400;
		margin-bottom:40px;
		a {
			color: #fd93fb;
			font-weight: 700;
			text-decoration: none;
		}
	}
	.theme-color {color:#fd93fb; text-decoration:none; }
}
.mb-5{
    margin-bottom: 5px !important;
}
.white-sts {
    color: #fff;
    --placeholder-color: #fff;
    font-family: Montserrat, sans-serif !important;
    padding-left: 7px;
    font-size: 14px;
}

.valid{
	color:red;
	font-size: 12px
}


.select{
	 
.item-native{
    --background: grey;

    background: grey;
	background: #535353;
}


	 
}

.box-feilds div {
	
	background: #535353;
		--background: #535353;
	 
}

ion-select.slect  {
     color: #fff;
    --placeholder-color: #fff;
    font-family: Montserrat, sans-serif !important;
    
    font-size: 14px;
}

	ion-item{
            font-size: 14px;
			margin:0 0 10px;
			--background:transparent;
		 
			[icon-left]
			{
			
				font-size:30px;
				color: #fd93fb;
				margin-right: 10px;
			}
			ion-avatar{
				margin:0 10px 0 0;
				width: auto;
				ion-icon{
					font-size:30px;
					color: #fff;
				}
			}
			ion-label{
			width: 100%;
			max-width: 100%;
			color: #fff;
			letter-spacing: 1.5px;	
				span{
					color: #fff;
					font-size: 12px;
					letter-spacing: 1.5px;
					margin:0 0 5px;
					display: block;
				}
			}
			ion-input , ion-textarea
			{
			font-size: 14px;
			color:#fff;
			}
			ion-button{
				--box-shadow:none;
				position: absolute;
				right: 0;
				top: 0;
				font-size: 11px;
			}
			ion-toggle{
				--box-shadow:none;
				position: absolute;
				right: 0;
				top: 0;
				font-size: 11px;
			}
		}

		.alert-radio-label.sc-ion-alert-md{


		white-space: normal;
		}

 